{% extends 'base.html' %}

{% block body %}

<div class = "container" style = "padding-top: 3.5%;">    
    <div class = "col-md-3"></div>
    <div class = "col-md-6 text-center">
        <div class="card">
            <h3 class="card-header special-color white-text">Voter Validation Step - 1</h3>
            <div class="card-body">
                <!--<h4 class="card-title">Blind Signat</h4>-->
                <p class="card-text">Enter the secret message string and secret number.</p>

                <form method="post" action = "">
                    {% csrf_token %}
                    {% include 'form-template.html' %}  
                    
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>

                </form>
            </div>
        </div>
    </div>
    <div class = "col-md-3"></div>
</div>

{% endblock %}

